.popup-banner {
  position: fixed;
  bottom: 0;
  left: 0;

  background-color: #4e5ee4;
  width: 100%;

  font-family: var(--heading);
  font-size: 18px;
  line-height: 1.6;
  color: white;
  text-align: center;

  z-index: 500;

  display: flex;

  animation: popup-show .5s ease;

  a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
  }
}

/*
 * Moves HubSpot's chat bubble if the popup banner is being displayed,
 * otherwise it blocks the close button.
 */
.popup-banner ~ #hubspot-messages-iframe-container {
  transform: translateX(-4em);
}

@keyframes popup-show {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(75%);
  }
}

.popup-banner-new::before {
  content: 'new';
  font-variant: small-caps;
  font-weight: bold;
  margin-right: .5em;
  padding: 0 .2em;
  border-radius: .2em;
  border: 1px solid rgba(100%, 100%, 100%, .2);
  background-color: rgba(100%, 100%, 100%, .1);
}

.popup-banner-text {
  flex-grow: 1;
  padding: 1em;
}

.popup-banner-close {
  display: block;
  padding: 1em;
  width: 4em;

  float: right;
  margin: 0;
  padding: 0 .5em;
  border: 0;
  outline: 0;

  background-color: transparent;
  color: inherit;
  cursor: pointer;

  &:hover, &:active {
    background-color: rgba(0, 0, 0, .1);
  }

  &::before {
    content: '×';
  }
}
