.toc-sidebar {
  font-size: .8em;
  opacity: .8;
  overflow: visible;
}

.toc-menu {
  margin-top: 1rem;
  border-width: 0 0 0 0.25rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.2;
  }

  .subheading-list {
    margin-left: 0.5em;
  }
}

.toc-title {
  font-size: inherit;
  margin: 0;
  padding: 0;
  font-family: var(--heading);
  color: var(--aluminum-5);
  letter-spacing: .05em;
  font-weight: var(--weight-bold);
  text-transform: uppercase;
}

.toc .toc-menu li {
  margin: 0.5rem 0 0;
  padding-top: var(--xs);
  padding-bottom: var(--xs);
  padding-right: var(--sm);
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--sans-serif);
  font-weight: var(--weight-bold);
  font-size: var(--md);

  &.subheading-item {
    font-weight: var(--weight-normal);
    margin: .25rem 0 0;
  }
}

.toc a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--core-violet-2);
  }
}

.toc .toc-menu li a.toc-active {
  color: var(--core-violet-4);
}

.btn-llms-container {
  display: flex;
}

.btn-chatgpt {
  font-size: 0.85rem;
  font-weight: var(--weight-medium);
  min-height: 1.5rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid;
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;

  &:hover,
  &:focus {
    color: var(--core-violet-4);
    path {
      fill: var(--core-violet-4);
    }
  }

  span {
    margin-left: 0.2rem;
  }
  
  svg {
    height: var(--md);
    width: var(--md);
  }
}

.btn-llms {
  font-size: 0.85rem;
  font-weight: var(--weight-medium);
  min-height: 1.5rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &::after{
    display: inline-block;
    content: url(../images/icons/chevron.svg);
    width: .8rem;
  }
}

.llms-popover-container {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  border-left: 0;
  margin-top: .5rem;

  .btn-llms:focus + &,
  &:focus-within {
    opacity: 1;
    pointer-events: auto;
  }
}

.component-llm {
  position: relative;
}

.btn-llm-popover {
  text-align: start;
  border: 0;
  font-size: 0.8rem;
  font-weight: var(--weight-medium);
  min-height: 1.5rem;
  padding: 0.2rem 0.5rem;
  width: 15em;

  & > .sub {
    font-size: 0.6rem;
    font-weight: var(--weight-light);
  }

  & > .icon {
    margin-right: .3rem;
  }

  p {
    padding: 0;
  }
}

.popover.llm-popover {
  width: 15em;
}
