[build]
  command = "yarn build"
  publish = "build/site"

# This replaces the meta refresh with an HTTP refresh that doesn't have an
# index.html suffix
[[redirects]]
  from = "/"
  to = "/openzeppelin"
  status = 302

# The Starter Kit component used to have version 2.3 before it was made versionless.
[[redirects]]
  from = "/starter-kits/2.3/*"
  to = "/starter-kits/:splat"
  status = 302

[[redirects]]
  from = "/sdk/2.5/*"
  to = "/sdk/:splat"
  status = 302
