[build]
  command = "yarn build"
  publish = "build/site"

[[plugins]]
  package = "./plugins/receive-webhook"

########################
# NOTE ABOUT REDIRECTS #
########################
# Redirects can be added either here or in _redirects. The rules in this file
# will have the lowest priority, not only lower than those seen in _redirects
# but also lower than those added at build time by scripts/latest-redirects.js.
# If in doubt, use _redirects.

# The Starter Kit component used to have version 2.3 before it was made versionless.
[[redirects]]
  from = "/starter-kits/2.3/*"
  to = "/starter-kits/:splat"
  status = 302

[[redirects]]
  from = "/sdk/2.5/*"
  to = "/sdk/:splat"
  status = 302

[[redirects]]
  from = "/sdk/2.6/*"
  to = "/sdk/:splat"
  status = 302

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "script-src 'self' *.googletagmanager.com *.cloudfront.net js.hs-scripts.com js.hsadspixel.net js.hsleadflows.net wizard.openzeppelin.com js.hs-analytics.net js.hubspot.com js.headleadflows.net js.hscollectedforms.net js.hs-banner.com;"
