site:
  title: OpenZeppelin Docs
  url: https://docs.openzeppelin.com
  start_page: openzeppelin::index.adoc
  keys:
    google_analytics: 'UA-85043059-1'
content:
  sources:
    - url: .
      branches: HEAD
    - url: https://github.com/OpenZeppelin/openzeppelin-contracts
      branches: docs-v2.x
      start_path: docs
    - url: https://github.com/OpenZeppelin/openzeppelin-sdk
      branches: release-docs/2.5
      start_path: packages/docs
    - url: https://github.com/OpenZeppelin/starter-kit
      branches: master
      start_path: docs
ui:
  bundle:
    url: ./ui/build/oz-docs-ui.zip
    # url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/master/raw/build/ui-bundle.zip?job=bundle-stable
    # snapshot: true
