site:
  title: OpenZeppelin Docs
  url: https://docs.openzeppelin.com
  start_page: ROOT::index.adoc
  #keys:
  #  google_analytics: 'UA-85043059-1'
content:
  sources:
    - url: .
      branches: HEAD
      start_path: components/home

    - url: .
      branches: HEAD
      start_path: components/gif
ui:
  bundle:
    url: ./ui/theme
asciidoc:
  attributes:
    idprefix: ''
