<footer class="footer">
	<div class="rights">
		<span>© 2019. All rights reserved. </span>
		<a class="terms" href="/privacy">Privacy</a>
		<a class="terms" href="/tos">Terms of Service</a>
	</div>
</footer>
{{> footer-scripts }}
