<footer class="footer">
	<div class="rights">
		<span>© 2019. All rights reserved. </span>
		<a class="terms" href="https://openzeppelin.com/privacy">Privacy</a>
		<a class="terms" href="https://openzeppelin.com/tos">Terms of Use</a>
	</div>
</footer>
{{> footer-scripts }}
