{{#if items}}
<ol class="nav-list collapsible-content">
  {{#each items}}
  <li class="nav-li" {{#if currentPath}}data-state="expanded"{{/if}}>
    {{#if url}}
    <a class="link nav-link{{#if (eq url @root.page.url)}} nav-link-active{{/if}}{{#if items}} collapsible{{/if}}" href="{{{url}}}">
      {{{content}}}
    </a>
    {{else}}
    {{#if content}}
    <span class="collapsible">{{{content}}}</span>
    {{/if}}
    {{/if}}
    {{!-- Nesting --}}
    {{#if items}}
    {{> navigation-tree navigation=items level=(increment .level) }}
    {{/if}}
  </li>
  {{/each}}
</ol>
{{/if}}
