<div class="nav-component">
  <a class="flex align-center" href="{{{./url}}}" tabindex="0">
    <img class="nav-icon" src="{{@root.site.ui.url}}/images/icons/{{{this.name}}}.svg">
    <span class="nav-component-heading">{{{./title}}}</span>
  </a>
</div>
