<nav class="toolbar" role="navigation">
	<div class="container flex align-center">
		<ol class="flex grow align-center breadcrumbs">
			{{> breadcrumbs }}
		</ol>
		{{> page-version-selector }}
		<a href="https://github.com/openzeppelin/openzeppelin-docs/tree/beta-anypt"
			class="flex align-center link link-edit" rel="noopener" target="_blank">
			@@include('public/_theme/images/icons/github.svg')
			Edit this page
		</a>
	</div>
</nav>
