.nav {
  height: 100vh;
  overflow-y: auto;
  padding: 2.2rem;
  position: sticky;
  top: 0;
  width: var(--nav-width);
  background: var(--core-gray);
  color: var(--steel-2);
  padding-top: 70px;

  a {
    text-decoration: none;
    color: inherit;

    &.nav-link-active {
      color: var(--core-violet-4);
    }
  }
  .nav-list {
    a.nav-link-active {
      font-weight: var(--weight-medium);
      &::before {
        content: '';
        position: relative;
        border-right: 1px solid var(--core-violet-4);
        height: 1em;
        width: 1px;
        margin-right: 9px;
        margin-left: -10px;
      }
    }
  }
}

.nav-components {
  width: calc(300px - (2.2rem * 2));
  height: calc(100% - 25px);
  margin-top: 25px;
}

.nav-component {
  padding-left: 30px;
}

.nav-component-active {
  max-height: 80%;
  overflow-y: auto;
  .nav-heading-active {
    position: sticky;
    top: 0;
    padding-top: 15px;
    padding-bottom: 4px;
    margin-top: 0;
    background: var(--core-gray);
    z-index: 2;
  }
}

.nav-list {
  padding-left: 0;
  list-style: none;
  line-height: 1.7em;
}

.nav-heading {
  color: var(--steel-3);
}

.nav-heading-active {
  position: sticky;
  top: 15px;
}

.nav-component-heading {
  font-family: var(--heading);
  font-weight: var(--weight-medium);
  position: relative;
  margin-top: var(--md);
  & + .nav-list {
    height: 90%;
    margin-bottom: 0;
  }
}

.nav-li {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

.nav-icon {
  margin: 0;
  height: var(--lg);
  width: var(--lg);
  left: calc(-1 * var(--lg) - var(--sm));
  position: absolute;
}

.search > .input {
  background-image: url(../images/icons/search.svg);
  background-position: 92% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-bottom: 50px;
  position: relative;
  width: $nav-width - ($lg * 2);
  width: 100%;
  border: none;
  padding: 0 2rem;
  border-bottom: solid 1px #e2e2e7;
  height: 70px;
  color: rgba(40, 40, 70, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

.collapsible {
  font-weight: var(--weight-bold);
}

.collapsible-content {
  padding-left: 10px;
  margin-bottom: var(--md);
}

.cxlose-menu-btn {
  display: none;
}
//------------- MOBILE RESPONSIVENESS ---------------------------------------

@media (max-width: $mobile-breakpoint) {
  .nav {
    max-width: 0;
    padding: 2.2rem 0;
    opacity: 0;
    transition: min-width 500ms, padding 500ms, opacity 300ms;
    .close-menu-btn{
      visibility: hidden;
    }
    .nav-list {
      a.nav-link-active::before {
        opacity: 0;
        transition: 5ms;
      }
    }
  }

  .active {
    padding-left: 2.2rem;
    opacity: 1;
    transition: 500ms, opacity 300ms;
    .close-menu-btn{
      visibility: visible;
    }
    .nav-list {
      a.nav-link-active::before {
        opacity: 1;
        transition: 2000ms;
      }
    }
    .collapsible {
      padding: 0;
    }
  }

  .close-menu-btn {
    position: absolute;
    right: 32px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close-menu-btn:hover {
    opacity: 1;
  }
  .close-menu-btn:before, .close-menu-btn:after {
    position: absolute;
    top: 6px;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }
  .close-menu-btn:before {
    transform: rotate(45deg);
  }
  .close-menu-btn:after {
    transform: rotate(-45deg);
  }
}

@media (orientation: landscape) and (max-width: $mobile-breakpoint) {
  .nav-component-active {
    height: 60%;
  }
}
