.nav {
  height: 100vh;
  overflow-y: auto;
  padding: 2.2rem;
  position: sticky;
  top: 0;
  width: var(--nav-width);
  background: #f8f8fa;
  color: var(--steel-2);
  padding-top: 70px;

  a {
    text-decoration: none;
    color: inherit;

    &.nav-link-active {
      color: var(--core-violet-4);
      font-weight: bold;
    }
  }
}

.nav-components {
  margin-top: 25px;
}

.nav-component {
  margin-bottom: var(--lg);
  padding-left: 30px;
}

.nav-list {
  padding-left: 5px;
  list-style: none;
  line-height: 1.7em;
}

.nav-heading {
  color: var(--steel-3);
}

.nav-component-heading {
  font-family: "Silka";
  font-weight: var(--weight-medium);
  position: relative;
  margin-top: var(--md);
}

.nav-icon {
  height: var(--lg);
  width: var(--lg);
  left: calc(-1 * var(--lg) - var(--sm));
  position: absolute;
}

.search > .input {
  background-image: url(../images/icons/search.svg);
  background-position: 92% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-bottom: 50px;
  position: relative;
  width: $nav-width - ($lg * 2);
  width: 100%;
  border: none;
  padding: 0 2rem;
  border-bottom: solid 1px #e2e2e7;
  height: 70px;
  color: rgba(40, 40, 70, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}
