<footer class="footer">
	<div class="rights">
		<span>© Etherisc 2016-2023</span>
		<a class="terms" href="https://etherisc.com/privacy">Privacy</a>
		<a class="terms" href="https://etherisc.com/tos">Terms of Use</a>
	</div>
</footer>
{{> footer-scripts }}