<footer class="footer">
	<div class="rights">
		<span>© OpenZeppelin 2017-<span id="copyright-date"></span></span>
		<a class="terms" href="https://openzeppelin.com/privacy">Privacy</a>
		<a class="terms" href="https://openzeppelin.com/tos">Terms of Use</a>
	</div>
</footer>
{{> footer-scripts }}
