<header class="header">
  <nav class="navbar">
    <button class="navbar-burger sidr-toggle">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
      </svg>
    </button>
    <div class="navbar-logo">
      <a href="{{@root.site.url}}">
        <svg width="204" height="24" viewBox="0 0 204 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.9" d="M165.493 17.9514C162.879 17.9514 161.068 16.0162 161.068 13.2932C161.068 10.5531 162.879 8.60078 165.391 8.60078C167.253 8.60078 168.244 9.79958 168.518 10.262H168.62V4.88452H169.97V17.7287H168.671V16.3244H168.569C168.347 16.6498 167.424 17.9514 165.493 17.9514ZM165.579 16.7355C167.509 16.7355 168.671 15.1599 168.671 13.2932C168.671 11.1011 167.304 9.83383 165.545 9.83383C163.716 9.83383 162.452 11.2724 162.452 13.2932C162.452 15.3825 163.716 16.7355 165.579 16.7355ZM177.138 17.9514C174.472 17.9514 172.507 15.9819 172.507 13.2761C172.507 10.5874 174.506 8.60078 177.155 8.60078C179.837 8.60078 181.785 10.6045 181.785 13.2761C181.785 15.9477 179.803 17.9514 177.138 17.9514ZM177.138 16.7183C179.051 16.7183 180.401 15.2627 180.401 13.2761C180.401 11.3066 179.051 9.83383 177.138 9.83383C175.224 9.83383 173.891 11.3238 173.891 13.2761C173.891 15.2798 175.241 16.7183 177.138 16.7183ZM188.372 17.9514C185.689 17.9514 183.81 15.9134 183.81 13.2761C183.81 10.6387 185.741 8.60078 188.355 8.60078C190.285 8.60078 192.079 9.76532 192.558 11.7519H191.157C190.798 10.5874 189.67 9.83383 188.389 9.83383C186.492 9.83383 185.211 11.3409 185.211 13.2761C185.211 15.2798 186.561 16.7183 188.423 16.7183C189.705 16.7183 190.849 15.9648 191.191 14.8003H192.575C192.114 16.7868 190.303 17.9514 188.372 17.9514ZM198.222 17.9514C196.121 17.9514 194.925 16.804 194.771 15.1428H196.086C196.24 16.2046 196.992 16.7697 198.29 16.7697C199.623 16.7697 200.358 16.1189 200.358 15.2113C200.358 12.7109 195.044 14.6119 195.044 11.084C195.044 9.57694 196.394 8.60078 198.256 8.60078C199.897 8.60078 201.263 9.55982 201.4 11.1696H200.102C199.982 10.3305 199.35 9.76533 198.171 9.76533C197.06 9.76533 196.343 10.3133 196.343 11.084C196.343 13.3446 201.673 11.4608 201.673 15.1428C201.673 16.8211 200.289 17.9514 198.222 17.9514Z" fill="black"/>
        <path opacity="0.9" d="M154.158 18.0906H153V5.71289H154.158V18.0906Z" fill="black"/>
        <path d="M137.029 18.7995V8.61688H139.377V9.85582H139.51C139.908 9.10083 140.892 8.36523 142.313 8.36523C144.548 8.36523 145.911 9.97199 145.911 12.1401V18.7995H143.449V12.7983C143.449 11.5594 142.673 10.727 141.536 10.727C140.343 10.727 139.491 11.6949 139.491 12.9725V18.7995H137.029Z" fill="black"/>
        <path d="M134.528 7.71098C133.638 7.71098 133.013 7.14958 133.013 6.23973C133.013 5.3686 133.638 4.78784 134.528 4.78784C135.418 4.78784 136.043 5.3686 136.043 6.23973C136.043 7.14958 135.418 7.71098 134.528 7.71098ZM133.297 18.7995V8.61687H135.759V18.7995H133.297Z" fill="black"/>
        <path d="M123.456 19.0511C120.521 19.0511 118.438 16.8055 118.438 13.7663C118.438 10.5527 120.54 8.36523 123.456 8.36523C126.657 8.36523 128.399 10.785 128.399 13.6501V14.4438H120.824C120.9 15.9925 121.941 17.0378 123.532 17.0378C124.744 17.0378 125.672 16.4571 126.013 15.6247H128.304C127.812 17.696 126.032 19.0511 123.456 19.0511ZM120.862 12.6628H126.051C125.937 11.2883 124.896 10.3785 123.456 10.3785C122.074 10.3785 121.013 11.3852 120.862 12.6628Z" fill="black"/>
        <path d="M106.941 22.5943V8.61688H109.365V9.9139H109.498C109.763 9.488 110.672 8.36523 112.49 8.36523C115.274 8.36523 117.187 10.4947 117.187 13.6694C117.187 16.8443 115.293 19.0511 112.566 19.0511C110.805 19.0511 109.858 18.0445 109.536 17.4831H109.403V22.5943H106.941ZM112.017 16.7668C113.608 16.7668 114.687 15.5085 114.687 13.7082C114.687 11.8497 113.608 10.6495 111.998 10.6495C110.369 10.6495 109.346 11.9853 109.346 13.7082C109.346 15.6053 110.483 16.7668 112.017 16.7668Z" fill="black"/>
        <path d="M89.2449 19.0511C86.3093 19.0511 84.2261 16.8055 84.2261 13.7663C84.2261 10.5527 86.3283 8.36523 89.2449 8.36523C92.4454 8.36523 94.1877 10.785 94.1877 13.6501V14.4438H86.6124C86.6881 15.9925 87.7296 17.0378 89.3207 17.0378C90.5326 17.0378 91.4605 16.4571 91.8014 15.6247H94.093C93.6005 17.696 91.8203 19.0511 89.2449 19.0511ZM86.6503 12.6628H91.8393C91.7256 11.2883 90.6842 10.3785 89.2449 10.3785C87.8622 10.3785 86.8018 11.3852 86.6503 12.6628Z" fill="black"/>
        <path d="M72.8997 18.7994V16.4174L79.7931 7.22986V7.08974H73.1459V4.78784H82.9368V7.14979L76.0433 16.3374V16.4975H82.9746V18.7994H72.8997Z" fill="black"/>
        <path d="M62.762 18.7995V8.61688H65.1101V9.85582H65.2427C65.6404 9.10083 66.6251 8.36523 68.0457 8.36523C70.2802 8.36523 71.6439 9.97199 71.6439 12.1401V18.7995H69.1819V12.7983C69.1819 11.5594 68.4053 10.727 67.2691 10.727C66.0761 10.727 65.2237 11.6949 65.2237 12.9725V18.7995H62.762Z" fill="black"/>
        <path d="M56.5666 19.0511C53.6313 19.0511 51.5481 16.8055 51.5481 13.7663C51.5481 10.5527 53.6503 8.36523 56.5666 8.36523C59.7671 8.36523 61.5094 10.785 61.5094 13.6501V14.4438H53.9344C54.0102 15.9925 55.0516 17.0378 56.6424 17.0378C57.8547 17.0378 58.7825 16.4571 59.1234 15.6247H61.415C60.9225 17.696 59.1424 19.0511 56.5666 19.0511ZM53.9723 12.6628H59.1613C59.0477 11.2883 58.0059 10.3785 56.5666 10.3785C55.1842 10.3785 54.1238 11.3852 53.9723 12.6628Z" fill="black"/>
        <path d="M40.0518 22.5797V8.58131H42.4757V9.9139H42.6082C42.8734 9.488 43.7826 8.36523 45.6007 8.36523C48.3844 8.36523 50.2972 10.4947 50.2972 13.6694C50.2972 16.8443 48.4034 19.0511 45.6761 19.0511C43.9152 19.0511 42.9681 18.0445 42.6461 17.4831H42.5135V22.5797H40.0518ZM45.1271 16.7668C46.7179 16.7668 47.7973 15.5085 47.7973 13.7082C47.7973 11.8497 46.7179 10.6495 45.1082 10.6495C43.4795 10.6495 42.4567 11.9853 42.4567 13.7082C42.4567 15.6053 43.5932 16.7668 45.1271 16.7668Z" fill="black"/>
        <path d="M31.5434 19.0513C27.3827 19.0513 24.3213 15.9419 24.3213 11.7692C24.3213 7.63664 27.4025 4.48706 31.5629 4.48706C35.7236 4.48706 38.8049 7.67677 38.8049 11.7692C38.8049 15.9018 35.704 19.0513 31.5434 19.0513ZM31.5629 16.5036C34.1928 16.5036 36.0767 14.4975 36.0767 11.7692C36.0767 9.08103 34.1928 7.03479 31.5629 7.03479C28.9138 7.03479 27.0295 9.08103 27.0295 11.7692C27.0295 14.4975 28.9138 16.5036 31.5629 16.5036Z" fill="black"/>
        <path d="M132.04 4.72852H129.651V18.7995H132.04V4.72852Z" fill="black"/>
        <path d="M95.4399 22.5943V8.61691H97.8641V9.91393H97.9967C98.2616 9.48803 99.1708 8.36523 100.989 8.36523C103.773 8.36523 105.685 10.4947 105.685 13.6695C105.685 16.8443 103.792 19.0511 101.065 19.0511C99.3034 19.0511 98.3563 18.0445 98.0343 17.4831H97.902V22.5943H95.4399ZM100.515 16.7668C102.106 16.7668 103.186 15.5085 103.186 13.7082C103.186 11.8498 102.106 10.6496 100.496 10.6496C98.8677 10.6496 97.8452 11.9853 97.8452 13.7082C97.8452 15.6053 98.9814 16.7668 100.515 16.7668Z" fill="black"/>
        <path d="M0.0595703 22.6144C2.40718 18.4624 4.40204 15.0382 6.93751 10.3451C7.83314 8.76139 9.3807 7.77734 11.2911 7.77734H14.293L5.90991 22.6144H0.0595703Z" fill="#2E99FF"/>
        <path d="M9.10853 19.1984C9.78589 17.9743 10.8747 17.2139 12.3998 17.2139L18.102 17.198V22.615H7.17603C7.8601 21.4158 8.45409 20.381 9.10853 19.1984Z" fill="#09C2FF"/>
        <path d="M0.0861816 1H18.0988L15.0211 6.48541H0.0861816V1Z" fill="#4F56FA"/>
        </svg>
      </a>
    </div>

    <div id="search-field" class="navbar-search">
      <input class="navbar-search-input" id="search-input" type="text" placeholder="{{#if (eq @root.page.component.name "ROOT")}}Search{{else}}Search {{@root.page.component.title}}{{/if}}">
      {{#unless (eq @root.page.component.name "ROOT")}}
      <input class="navbar-search-filter" type="checkbox" data-facet-filter="component:{{page.component.name}}" checked>
      {{/unless}}
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="https://github.com/OpenZeppelin">GitHub</a>
      <a class="navbar-item" href="https://forum.openzeppelin.com">Forum</a>
      <a class="navbar-item" href="https://blog.openzeppelin.com">Blog</a>
      <a class="navbar-item" href="https://openzeppelin.com">Website</a>
    </div>
  </nav>
</header>