<!doctype html>
<html>
  <head>
    {{> head}}
  </head>
  <body class="{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
    {{> header}}
    {{~> main}}
    {{> scripts}}
  </body>
</html>
