.card {
  margin-top: 1rem;
  border-radius: var(--border-radius);
  width: 31.7%;
  min-height: 17rem;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  padding: .8rem 1.1rem;
  margin-right: .6rem;
  box-shadow: 0 8px 14px 0 rgba(60, 60, 60, 0.09);
  border-radius: var(--border-radius);

  a {
    color: white;
    text-decoration: none;
  }

  .title {
    display: block;
    font-family: var(--heading);
    font-weight: var(--weight-bold);
    font-size: 1.2rem;
    margin: 1rem 0;

    &::before {
      content: "";
      background-image: var(--card-icon);
      background-repeat: no-repeat;
      background-size: contain;
      width: 1.5rem;
      height: 1.7rem;
      display: inline-block;
      vertical-align: middle;
      margin-right: .6rem;
    }
  }

  &.card-contracts {
    --card-icon: url(../images/contracts_white.svg);
    background-image: linear-gradient(45deg, #6746d6 0%, #a134d1 100%);
  }

  &.card-sdk {
    --card-icon: url(../images/sdk_white.svg);
    background-image: linear-gradient(-134deg, #3677ff 0%, #1ecff7 100%);
  }

  &.card-starter-kits {
    --card-icon: url(../images/kit_white.svg);
    background-image: linear-gradient(-135deg, #00e1d4 0%, #00c7f2 100%);
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 88%;
  }

  &::after {
    content: "";
    background-image: url(../images/cards.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 95px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    right: -20px;
  }

  .card-cta {
    font-family: var(--heading);
    font-weight: var(--weight-bold);
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .05em;
  }

  &:hover{
    cursor: pointer;
    box-shadow: 0 8px 14px 0 rgba(60, 60, 60, 0.25);
  }
}


.card-generic {
  width: 31.7%;
  min-height: 14rem;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  padding: .8rem 1rem;
  margin-right: .6rem;
  margin-top: 1rem;
  border-radius: var(--border-radius);
  border: solid 1px #e9e9ed;
  box-shadow: 0 4px 7px 0 rgba(60, 60, 60, 0.09);

  a{
    color: var(--color-text-light);
    font-family: var(--sans-serif);
    font-size: .9rem;
    text-decoration: none;
    opacity: .8;
  }

  .title {
    display: block;
    font-family: var(--heading);
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: .8rem;

    &::before {
      content: "";
      background-image: var(--card-icon);
      background-repeat: no-repeat;
      background-size: contain;
      width: 1rem;
      height: 1.2rem;
      display: inline-block;
      vertical-align: middle;
      margin-right: .5rem;
    }
  }

  &.upgrades-js { --card-icon: url(../images/icons/sdk.svg); }
  &.test-environment { --card-icon: url(../images/icons/test-environment.svg); }
  &.test-helpers { --card-icon: url(../images/icons/test-helpers.svg); }
  &.network-js { --card-icon: url(../images/icons/network-js.svg); }
  &.gsn-helpers { --card-icon: url(../images/icons/gsn-helpers.svg); }
  &.gsn-provider { --card-icon: url(../images/icons/gsn-provider.svg); }
  &.contract-loader { --card-icon: url(../images/icons/contract-loader.svg); }
  &.solidity-docgen { --card-icon: url(../images/icons/docgen.svg); }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &:hover{
    cursor: pointer;
    border: solid 1px #dfdfe0;
    box-shadow: 0 6px 12px 0 rgba(60, 60, 60, 0.15);
  }
}


.card-learn {
  width: 31.7%;
  min-height: 12.5rem;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  border-radius: var(--border-radius);
  border: solid 1px #cacbcc;
  border-left: solid 3px #53536B;
  margin-top: 1rem;
  margin-right: .6rem;
  padding: .8rem 1rem;

  p{
    font-family: var(--sans-serif);
    font-size: .9em;
  }

  a{
    color: var(--color-text-light);
    text-decoration: none;
    opacity: .8;
    
    .title {
      display: block;
      font-family: var(--heading);
      font-weight: var(--weight-bold);
      font-size: 1rem;
      line-height: 1.4;
      margin-bottom: 1rem;
      opacity: 1;
    }
  }

  &:hover{
    cursor: pointer;
    border: solid 1px #B8BFF4;
    border-left: solid 3px #4E5EE4;
    box-shadow: 0 6px 12px 0 rgba(60, 60, 60, 0.09);

    .title {
      color: #4E5EE4;
    }
  }
}


@media (max-width: 642px) {
  .card, .card-generic {
    width: 100%;
    min-height: 12rem;
    margin-right: 0;
  }
  .card-learn {
    width: 100%;
    min-height: 7rem;
    margin-right: 0;
  }
}

@media (min-width: $mobile-breakpoint) and (max-width: 1120px), (min-width: 642px) and (max-width: 780px) {
  .card, .card-generic {
    width: 48%;
    min-height: 13rem;
  }
  .card-learn {
    width: 48%;
    min-height: 11rem;
  }
}
