.alert {
  p {
    font-family: var(--heading);
    color: inherit;
    font-size: 1rem;
  }
}

.admonitionblock,
.alert {
  border: 1px solid rgb(196, 196, 196);
  border-radius: var(--border-radius);
  font-family: var(--heading);
  color: rgb(36, 36, 36);
  line-height: 100%;
  max-width: 90vw;
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.4;
  font-weight: var(--weight-medium);
  padding: 1rem 0.9rem;
  display: block;
  background-color: white;
  margin: 1.5rem 0;

  table {
    padding: 0;
    margin: 0;
    th,
    td {
      border: none;
      padding: 0;
      margin: 0;
      word-wrap: break-word;
    }
  }

  .content {
    max-width: 82vw;
    padding-left: 58px;
    font-size: 1rem;
    text-align: left;
    word-wrap: break-word;
  }

  &.note {
    border: 1px solid #a134d1;
    color: #a134d1;
  }

  &.tip {
    border: 1px solid var(--core-violet-4);
    color: var(--core-violet-4);
  }

  &.warning, &.caution, &.important {
    border: 1px solid #F79F1F;
    color: #F79F1F;
  }
}

.alert {
  position: relative;

  p {
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 60px;
  }

  &.note--secondary {
    color: white;
    background-image: linear-gradient(45deg, #a134d1 0%, #6746d6 100%);
    background-size: 100%;
    background-position: 0;

    &::after {
      content: "";
      background-image: url(../images/icons/unicorn.png);
      width: 65px;
      height: 65px;
      background-size: 100%;
      position: absolute;
      top: 18%;
      right: 20px;
      transform: translateY(-50%);
    }
  }

  &.tip--secondary {
    color: white;
    background-image: linear-gradient(-135deg, #3f62ff 0%, #2ba3ff 100%);
    background-size: 100%;
    background-position: 0;
    &::after {
      content: "";
      background-image: url(../images/icons/book.png);
      width: 65px;
      height: 65px;
      background-size: 100%;
      position: absolute;
      top: 18%;
      right: 20px;
      transform: translateY(-50%);
    }
  }

  &.warning--secondary {
    color: white;
    background-image: linear-gradient(-135deg, #ff8f3f 0%, #ff5533 100%);
    background-size: 100%;
    background-position: 0;
    &::after {
      content: "";
      background-image: url(../images/icons/rocket_1f680.png);
      width: 65px;
      height: 65px;
      background-size: 100%;
      position: absolute;
      top: 18%;
      right: 20px;
      transform: translateY(-50%);
    }
  }

  &.note--secondary,
  &.tip--secondary,
  &.warning--secondary {
    padding: 1.5rem;
    p {
      margin: 0;
      padding: 0;
    }
  }
}
