.main__wrapper {
  display: flex;
  margin-top: var(--header-height);
  position: relative;
}

.main {
  flex: 1 1 0;
  min-width: 320px;
  width: calc(100vw - var(--nav-width));
}


@media (max-width: $mobile-breakpoint) {
  .main {
    transition: min-width 500ms;
  }
}
