.page-version-selector {
  display: none;
  margin-right: 0.7rem;
  position: relative;
}

@media (min-width: 1024px) {
  .page-version-selector {
    display: block;
  }
}

.page-version-selector-toggle {
  background-color: transparent;
  background-image: url(../images/chevron.svg);
  background-repeat: no-repeat;
  background-position: right 0.5rem top 50%;
  background-size: auto 0.95em;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  margin: 0;
  padding: .3rem 1.75rem .3rem 0.5rem;
  position: relative;
  z-index: 3;
}

.page-version-selector[data-state=expanded] .page-version-selector-toggle {
  background-image: url(../images/chevron-white.svg);
  color: #fff;
}

.page-version-selector-toggle:hover,
.page-version-selector-toggle:active,
.page-version-selector-toggle:focus {
  outline: none;
  border-color: var(--core-violet-3);
}

.page-version-selector-toggle::-moz-focus-inner {
  border: none;
}

.page-version-selector-panel {
  background-color: var(--core-violet-3);
  border: 1px solid var(--core-violet-3);
  box-sizing: border-box;
  padding: 1.6rem 0.5rem 0.3rem 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
}

.page-version-selector[data-state=expanded] .page-version-selector-panel {
  visibility: visible;
  z-index: 2;
}

.page-version-selector a.page-version {
  display: block;
  font-size: 0.75rem;
  color: #fff;
}

.page-version-selector a.page-version--current {
  display: none;
}

.page-version-selector a.page-version--missing {
  color: var(--core-blue-1);
  text-decoration: none;
  font-style: italic;
}
